.Main{
    height:100%;
    width:100vw;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
   
 
}

.Card{

    background-color: black;
    height: 400px;
    width: 80vw;
    padding: 20px;
    position: relative;
    margin-top: 100px;

}
.Card img{
    height: 300px;
    width: 200px;
    object-fit: cover;
}

.Details{
    height: 300px;
    width: 400px;
    background-color: black;
    position: absolute;
    top: 20px;
    right:48%;
    color: white;
}

.Details button{
    background-color: red;
    color: white;
    padding: 10px;
    width: 120px;
    margin-left: 40px;
    border-radius: 10px
}

.Cast{
    height:800px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    overflow-y: auto;
    position: absolute;
    left:70px;
    top:100%
   
}

.Actor{
    border: 1px solid black;
    margin: 10px;
    width:500px;
    height: 100px;
    position: relative;
}
.Actor img{
    height: 100%;
    width: 20%;
}
.Actor .Actor_info{
    position:absolute;
    left: 20%;
    top: 10%;

}
.Cast_Title{
    color: white;
    background-color: black;
    width: 80%;
    text-align: left;
    padding-left: 20%;
}

.Cast::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.Cast::-webkit-scrollbar-track {
    background: #5658586c; /* Color of the track */
}

.Cast::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #998f8f; /* Color of the thumb */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #cbcbcb; /* Padding around thumb */
}
.Cast::-webkit-scrollbar-thumb:hover {
   cursor: pointer;
}